body {
    background-color: #2F3035;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;
}

header {
    background-color:blue;
    height:118px;
    text-align: center;
}

nav {
    background-color:red;
    height:118px;
}

main {
    background-color:green;
    height:118px;
}

footer {
    background-color:greenyellow;
    height:118px;
}